<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="cloud.kosch.keyswiper.test.ImeSmokeHostActivity"
            android:exported="true"
            android:label="KeySwiper IME smoke test"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
